* {
  font-family: inherit;
  box-sizing: border-box;
}
body {
  border: 1px solid purple;
  font-family: "Roboto";
}
:root {
  --font-10: 0.625rem;
  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-26: 1.625rem;
  --font-40: 2.5rem;
  --font-70: 4.375rem;
  --font-90: 5.625rem;

  --weight-light: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --weight-extrabold: 900;

  --line-18: 18px;
  --line-22: 22px;
  --line-26: 26px;
  --line-28: 28px;
  --line-40: 40px;
  --line-50: 50px;
  --line-80: 80px;
  --line-100: 100px;

  --color-pink: #ee9591;
  --color-dark_grey: rgba(85, 85, 85, 1);
  --color-light_grey: rgba(136, 136, 136, 1);
  --color-white: rgba(255, 255, 255, 1);

  --background-color-btn: #ee9591;
  --border_radius_btn: 10px;
  --border_visiblity_btn: none;
  --box_shadow_btn: 16px 16px 60px rgba(150, 88, 131, 0.4);
}
.container_header {
  margin: 0 auto;
  max-width: 1440px;
  border: 4px solid purple;
  padding-bottom: 100px;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  border: 4px solid purple;
  padding-bottom: 100px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-14);
}

.header_navigation {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.spacer {
  flex: 1 1 auto;
}
.btn {
  background-color: #ee9591;
  color: var(--color-white);
  border: none;
}
button:hover,
button:active {
  background-color: rgba(117, 161, 154, 0.384);
  box-shadow: 16px 16px 40px 40px rgba(134, 156, 204, 0.884);
}
.Registrasi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.625rem;
  height: 2.25rem;
  border-radius: 6px;
}
.img_logo {
  width: 100%;
  max-width: 190px;
}
.btn_header_position {
  display: flex;
  margin-left: 30px;
}
.burger {
  display: none;
}
.pasti_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 143px;

  gap: 35px;
}
.Brush {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pasti_text > h1 {
  font-size: var(--font-70);
  line-height: var(--line-80);
  color: var(--color-dark_grey);
  font-weight: var(--weight-extrabold);
  margin-bottom: 0;
}
.pasti_text {
  font-size: var(--font-16);
  line-height: var(--line-26);
  color: var(--color-light_grey);
  font-weight: var(--weight-medium);
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}
.pasti_list {
  display: flex;
  padding: 0;
  gap: 30px;
  font-weight: var(--weight-bold);
  list-style-position: inside;
}
.pasti_button_text > p {
  font-size: var(--font-14);
}
.pasti_button_text > h2 {
  font-size: var(--font-20);
  font-weight: var(--weight-bold);
  margin: 0;
}
.pasti_button_text {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}
.pasti_button {
  padding: 15px 22px;
  border-radius: 10px;
}
.Brush img {
  max-width: 640px;
  width: 100%;
}
.pink {
  color: var(--color-pink);
}
.beautypreneur_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-top: 200px;
}
.tablet_position {
  display: flex;

  gap: 40px;
}
.beautypreneur_text {
  color: var(--color-light_grey);
  font-size: var(--font-16);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.beautypreneur_text > h1 {
  color: var(--color-dark_grey);
  font-size: var(--font-40);
  margin: 0;
}
.beautypreneur_text img {
  width: 100%;
  max-width: 100px;
}
.tablet_text {
  padding: 34px 40px 24px 40px;
  border: 8px solid rgb(247, 247, 247);
  box-sizing: border-box;
  border-radius: 1.25rem;
  box-shadow: -40px 40px 50px 0px rgba(85, 85, 85, 0.14);
  background: linear-gradient(
    131.19deg,
    rgb(249, 168, 165) 34.546%,
    rgb(226, 138, 134) 79.957%
  );
}
.tablet_text h1 {
  font-size: var(--font-90);
  margin: 0;
}
.tablet_text > p {
  font-size: var(--font-14);
}
.tablet_text p:last-child {
  font-size: var(--font-10);
  color: #ffffff;
  opacity: 0.4;
}
.Beauty_Selling_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 110px 0 110px 0;
}
.Beauty_Selling_header h1 {
  font-size: var(--font-70);
  color: var(--color-dark_grey);
  font-weight: var(--weight-bold);
}
.Beauty_Selling_header p {
  font-size: var(--font-16);
  color: var(--color-light_grey);
  font-weight: var(--weight-medium);
}

/* НЕ ЗНАЮ КАК ВЫСТАВИТЬ ПРИ ВСЕХ ЭТИХ УСЛОВИЯХ ТЕКСТ В ФЛЕКС СТАРТ */
.small_tablet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  width: 100%;
  color: var(--color-light_grey);
  font-size: var(--font-14);
  gap: 24px;
  background-color: #f9a8a53a;
  border-radius: 16px;
  margin: 50px;
  padding: 50px;
  margin-left: 0;
}

.small_tablet img {
  max-width: 170px;
  width: 100%;
}
.small_tablet_position {
  display: flex;
  padding-left: 100px;
  /* gap: 50px; */
}
.first_pair_tablet {
  margin-top: 60px;
}
.second_pair_tablet {
  margin-left: 0;
}

.bukan_text {
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-top: 50px;
}
.bukan_text img {
  max-width: 100px;
  width: 100%;
}
.bukan_text h3 {
  font-size: var(--font-40);
  color: var(--color-dark_grey);
  font-weight: var(--weight-bold);
  margin-top: 30px;
}
.bukan_text p {
  font-size: var(--font-16);
  color: var(--color-light_grey);
  font-weight: var(--weight-light);
}
.bukan_list {
  font-size: var(--font-16);
  color: var(--color-light_grey);
  font-weight: var(--weight-bold);
  display: flex;
  flex-direction: column;
  gap: 22px;
  list-style-position: inside;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}
li::marker {
  color: var(--color-pink);
}

.Beauty_Selling_block {
  display: flex;
  gap: 170px;
}
.pokonya_text {
  font-size: var(--font-40);
  color: var(--color-dark_grey);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pokonya_text h3 {
  margin: 0;
}
.pokonya_text img {
  max-width: 100px;
  width: 100%;
}
.block_butns {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.tablet_btns {
  max-width: 274px;
  width: 100%;
  border-radius: 16px;
  border: none;
  background-color: #fef8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #888888;
}
.grid_butns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
.tablet_btns img {
  background-color: #f7c7c4;
  border-radius: 16px;
  max-width: 90px;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
}
.Meet_our_mentor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-dark_grey);
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.Meet_our_mentor h3 {
  margin: 0;
}
.Meet_our_mentor :first-child {
  font-size: var(--font-40);
}

.Meet_our_mentor p {
  color: var(--color-light_grey);
  font-size: var(--font-16);
}
.portraits {
  display: flex;
  justify-content: center;
  gap: 48px;
}
.portraits img {
  max-width: 274px;
  width: 100%;
  border-radius: 16px;
  opacity: 80%;
}
.portraits span:first-child {
  font-size: var(--font-18);
  color: #555555;
}
.portraits span:nth-of-type(2) {
  color: var(--color-pink);
  font-size: var(--font-14);
}
.portraits span:last-child {
  color: var(--color-light_grey);
  font-size: var(--font-14);
}
.Annabel {
  display: flex;
  padding-right: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.Annabel_profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Annabel_photo img {
  max-width: 180px;
  width: 100%;
  margin-right: 30px;
}
.Annabel_profile p {
  margin: 0;
}
.arrow {
  display: flex;
  gap: 6px;
  color: var(--color-light_grey);
}
.arrow img {
  max-width: 20px;
  width: 100%;
}
.arrow p {
  font-size: var(--font-14) !important;
  font-weight: var(--weight-medium);
}
.logotype {
  background: #ee9591;
  margin-right: 100px;
  padding: 80px 100px;
  border-radius: 0 150px 0 0;
}
.logotype p {
  margin: 0;
  margin-bottom: 42px;
  color: var(--color-white);
}
.logotype img:first-child {
  max-width: 237px;
  width: 100%;
  margin-bottom: 30px;
}
.logotype div:last-child img {
  max-width: 142px;
  width: 100%;
  margin-bottom: 14px;
}
.footer {
  display: flex;
}
.footer div:last-child img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Annabel_photo {
  display: flex;
}
.navigation {
  display: flex;
  gap: 80px;
  margin-top: 180px;
  margin-bottom: 80px;
}
.navigation_text p:first-child {
  font-size: 18px;
  font-weight: var(--weight-bold);
}
.navigation_text {
  font-size: 14px;
  color: var(--color-light_grey);
}
.img_last_pos {
  align-content: end;
}
.img_last {
  max-width: 500px;
  width: 100%;
  padding-left: 75px;
  margin-top: 170px;
}
@media (max-width: 1200px) {
  .container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1200px;
    border: 2px solid purple;
  }
  .container_header {
    border: 2px solid purple;
    padding: 0 20px;
  }

  .header_navigation {
    display: none;
  }
  .mobile_butn {
    width: 32px;
    height: 32px;
  }

  .burger {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #fef8f8;
    border: none;
  }
  .btn_header_position {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .Registrasi {
    color: var(--color-white);
  }
  .pasti_block {
    display: flex;
    flex-direction: column;
  }
  .pasti_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .pasti_text > h1 {
    margin-bottom: 0;
    font-size: 70px;
    line-height: 80px;
    font-weight: 900;
  }
  .pasti_text > p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
  }
  .Brush {
    display: none;
  }
  .pasti_list {
    display: flex;
    padding: 0;
    gap: 30px;
    font-weight: var(--weight-bold);
    font-size: 16px;
  }

  .pasti_button {
    padding: 14px 21px;
    max-width: 100%;
  }
  .pasti_button_text {
    display: flex;
    flex-direction: column;
  }
  .pasti_button_text > p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }
  .pasti_button_text > h2 {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }
  .beautypreneur_block {
    display: flex;
    flex-direction: column;
  }
  .beautypreneur_text br {
    display: none;
  }
  .beautypreneur_text img {
    display: none;
  }
  /* .tablet_position {
    margin: 0 108px 0 80px;
  } */

  .tablet_text h1 {
    font-size: 60px;
    margin: 0;
  }
  .tablet_text > p {
    font-size: var(--font-14);
    word-break: normal;
  }
  .tablet_text br {
    display: none;
  }
  .Beauty_Selling_block {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .Beauty_Selling_header h1 {
    font-size: var(--font-40);
    margin: 0;
  }
  .Beauty_Selling_header p {
    font-size: var(--font-16);
  }
  .small_tablet_position {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bukan_text {
    padding: 80px;
  }
  .bukan_text img {
    max-width: 60px;
    width: 100%;
    height: 12px;
  }
  .bukan_text br {
    display: none;
  }
  .bukan_text h3 br {
    display: inline;
  }
  .block_butns {
    display: flex;
    flex-direction: column;
  }
  .grid_butns {
    display: grid;

    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .tablet_btns {
    max-width: 300px;
    width: 100%;
  }
  .Meet_our_mentor {
    text-align: center;
  }
  .portraits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
    border: 2px solid purple;
  }
  .header_navigation {
    display: none;
  }
  .burger {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .btn_header_position {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }

  .Registrasi {
    font-size: var(--font-12);
    width: 4.25rem;
    height: 1.625rem;
  }
  .img_logo {
    max-width: 114px;
  }

  .pasti_block {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .pasti_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0;
  }
  p br {
    display: none;
  }
  .pasti_text > h1 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 22px;
  }
  .pasti_text > p {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 22px;
  }

  .pasti_list {
    display: flex;
    font-size: 10px;
    margin-bottom: 26px;
  }
  .pasti_button {
    padding: 14px 21px;
    max-width: 100%;
  }
  .pasti_button_text {
    display: flex;
    flex-direction: column;
  }
  .pasti_button_text > p {
    font-size: 10px;
    line-height: 22px;
    margin: 0;
  }
  .pasti_button_text > h2 {
    font-size: 12px;
    line-height: 26px;
  }
  .Registrasi {
    border-radius: 4px;
  }
  .beautypreneur_block {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .beautypreneur_text br {
    display: none;
  }
  .beautypreneur_text h1 {
    font-size: 22px;
  }
  .beautypreneur_text p {
    font-size: 14px;
  }
  .beautypreneur_text img {
    display: none;
  }
  .tablet_position {
    display: flex;
    flex-direction: column;
  }

  .tablet_text h1 {
    font-size: 60px;
    margin: 0;
  }
  .tablet_text > p {
    font-size: var(--font-14);
    word-break: normal;
  }
  .tablet_text br {
    display: none;
  }
  .tablet_text {
    box-sizing: border-box;
    border: 8px solid rgb(244, 244, 244);
    border-radius: 20px;
    box-shadow: -40px 40px 50px 0px rgba(85, 85, 85, 0.14);
    background: linear-gradient(
      -49.4deg,
      rgb(249, 168, 165) -9.154%,
      rgb(226, 138, 134) 64.253%
    );
  }
  .Beauty_Selling_block {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .Beauty_Selling_header h1 {
    font-size: var(--font-26);
    text-align: center;
    margin: 0;
  }
  .Beauty_Selling_header p {
    display: none;
  }
  .small_tablet_position {
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  .small_tablet_position :first-child {
    margin-top: auto;
  }

  .small_tablet {
    max-width: 150px;
    width: 100%;
    font-size: var(--font-12);

    background-color: #f9a8a53a;
    border-radius: 16px;
    margin: 20px 20px 20px;
    padding: 10px;
    text-wrap: wrap;
  }
  .small_tablet img {
    max-width: 115px;
    width: 100%;
  }
  .small_tablet {
    gap: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .bukan_text {
    padding: 0;
  }
  .bukan_text img {
    max-width: 60px;
    width: 100%;
    height: 12px;
  }
  .bukan_text br {
    display: none;
  }
  .bukan_text h3 br {
    display: inline;
  }
  .bukan_text h3 {
    font-size: 28px;
  }
  .bukan_text p {
    font-size: 14px;
  }
  .bukan_text li {
    font-size: 14px;
  }
  .block_butns {
    padding: 20px;
  }
  .pokonya_text {
    font-size: var(--font-26);
  }
  .pokonya_text img {
    display: none;
  }
  .pokonya_text br {
    display: none;
  }
  .tablet_btns {
    font-size: var(--font-14);
    max-width: 150px;
    width: 100%;
  }
  .grid_butns img {
    max-width: 50px;
    width: 100%;
  }
  .grid_butns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .Meet_our_mentor {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .portraits img {
    max-width: 150px;
    width: 100%;
  }
  .portraits span:first-child {
    font-size: var(--font-14);
  }
  .portraits span:nth-of-type(2) {
    font-size: var(--font-10);
  }
  .portraits span:last-child {
    font-size: var(--font-10);
  }
  .portraits span {
    display: flex;
    flex-direction: column;
  }
  .portraits {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin-bottom: 100px;
  }
  .Meet_our_mentor :first-child {
    font-size: 26px;
  }
  .Meet_our_mentor p {
    font-size: var(--font-14);
  }
  .Annabel {
    padding: 0;
  }
  .Annabel_info {
  }
  .Annabel_photo img:first-child {
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    height: 66px;
  }
  .Annabel_info img:last-child {
    max-width: 20px;
    width: 100%;
  }
  .Annabel_text p:nth-last-of-type(3) {
    display: flex;
    align-items: flex-start;
  }
  .logotype {
    padding: 0;
    font-size: var(--font-14);
    max-width: 360px;
    width: 100%;
    padding: 20px;
  }
  .img_last {
    display: none;
  }
  .img_last_pos {
    display: none;
  }
  .navigation {
    display: none;
  }
  .footer {
    background-color: #ee9591;
    border-radius: 0 100px 0 0;
  }
  footer .container {
    padding: 0;
  }
}
